---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import FirstSection from '../components/firstSection.astro';
import SecondSection from '../components/secondSection.astro';
---

<Layout title="Patricio Muñoz">
	<main>

    <FirstSection title='Patricio'></FirstSection>
    <SecondSection></SecondSection>
    <Card
    href="https://docs.astro.build/"
    title="Documentation"
    body="Learn how Astro works and explore the official API docs."
  />
<!-- 		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
		</ul> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
