---
import { Icon } from 'astro-icon/components';
---

<div class="flex place-content-center drop-shadow-md mt-2">
  <a href="https://drive.google.com/file/d/1ZIYuASlG0eEvsu2g9monAVnFE0_YrWF0/view?usp=sharing" target="_blank">
  <button 
  class="hover:bg-gray-800 bg-yellow-400 
  rounded-3xl text-gray-800 hover:text-yellow-400 font-bold  p-2">
  <span class="flex mr-2 ml-2">
    Descarga mi CV <Icon class="ml-2" size={30} name="mdi:file-download"/>
  </span>
</button>
</a>
</div>