---
import { Icon } from 'astro-icon/components';
---

<div class="flex place-content-center md:place-content-start mt-2">
  <a class="m-1" href="https://www.linkedin.com/in/patricio-nicol%C3%A1s-mu%C3%B1oz-alveal/" target="_blank">
    <Icon name="mdi:linkedin" size={40}/>
  </a>
  <a class="m-1" href="https://github.com/Patriciomual" target="_blank">
    <Icon name="mdi:github" size={40}/>
  </a>
</div>