---
import { Icon } from 'astro-icon/components';
import BtnSocialNet from './btnSocialNet.astro';
interface Props {
	title: string;
}
 const { title } = Astro.props;
---

<div class="max-w-lg mx-auto mt-3">
  <div class="md:flex justify-center items-center"> 

    <img class="rounded-full w-60 md:w-40 mx-auto" src="https://avatars.githubusercontent.com/u/44737010?v=4" alt="Imagen de perfil">

    <div class="ml-4">
      <h1 class="p-2 items-center">Hola 👋 mi nombre es 
        <span class="font-bold">{title}</span> 
        y actualmente me desempeño como 
        <span class="font-bold text-yellow-300">Frontend Web Developer.</span>
      </h1>
      <BtnSocialNet></BtnSocialNet>
    </div>
  </div>
</div>



