---
---

<p class="p-4 md:p-10 font-extralight text-justify md:text-start">
  
  Soy <i>Ingeniero Civil Informático</i> de la Universidad Católica del Maule.
  Desde siempre, me ha fascinado la tecnología, el arte, la comedia y los michis. 
  Tengo <b class=" text-yellow-400 font-bold">3 años de experiencia</b> en el mercado y algunos más de forma 
  autónoma, donde he desarrollado mis habilidades blandas y técnicas. 
  Con el tiempo, me he dejado seducir por las metodologías ágiles, 
  logrando certificarme como <b class=" text-yellow-400 font-bold">Scrum Master.</b>


</p>